* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
	scroll-behavior: smooth;
	font-family: "Palanquin";
}

header {
	background-color: var(--orange);
	padding-inline: calc((100% - 1440px) / 2);
	height: 80px;
}

main {
	min-height: calc(100vh - 160px);
	padding-inline: calc((100% - 1440px) / 2);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	width: 100%;
	height: 30vh;
	background-image: url("/assets/media/Hero.jpg");
	background-size: cover;
	background-position: center 85%;
	background-repeat: no-repeat;
	margin-bottom: 140px;
}

.burger-logo-container {
	background-color: var(--orange-light);
	border-radius: 50%;
	height: 220px;
	width: 220px;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 10px 13px rgba(0, 0, 0, 0.15);
}

.burger-logo {
	border-radius: 50%;
	height: 190px;
	width: 190px;
}

.title-container {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 550px;
	margin-bottom: 50px;
	h1 {
		color: var(--orange);
		font-family: "Palanquin Dark";
	}
	.h1-secondary-color-class {
		color: black;
	}
}

.black-star {
	width: 20px;
	top: 3px;
}

.ratings {
	background-color: var(--orange-light);
	width: 100px;
	border-radius: 5px;
	padding: 2px;
	margin-top: 5px;
	margin-left: 15px;
}

.food-section {
	padding-left: 50px;
	align-self: flex-start;
}

.category-bar-icon {
	height: 80px;
	width: 80px;
	object-fit: contain;
	top: -15px;
	margin-left: 150px;
}

.category-bar {
	background-color: var(--orange);
	color: white;
	height: 50px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	font-family: "Palanquin";
	font-weight: 700;
	font-size: 30px;
	text-align: top;
	vertical-align: center;
}

.category-bar-title {
	padding-bottom: 5px;
	padding-left: 15px;
}

.food-card {
	background-color: var(--orange-light);
	height: 150px;
	width: 700px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	transition: all 0.3s ease-in-out;
	box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.15);
	margin: 25px;
}

.food-img {
	border-radius: 15px;
	width: 220px;
	min-width: 220px;
	height: 120px;
	object-fit: cover;
	margin: 15px;
}

.food-card:hover {
	transition: all 0.3s ease-in-out;
	box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.365);
}

.food-listing {
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	letter-spacing: -0.5px;
	padding-top: 5px;
	padding-left: 15px;
	font-weight: 500;
	max-width: 290px;
	animation-delay: 2s;
	transition: all 0.3s ease-in-out;
	.food-title {
		font-size: 13.5px;
	}
}

.price-section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: auto;
	font-family: "Palanquin";
	font-weight: 800;
}

.pricing {
	font-size: 25px;
	margin-top: 5px;
	margin-right: 25px;
}

.add-basket-button {
	background-color: white;
	border: none;
	padding: 5px;
	margin-bottom: 25px;
	margin-right: 25px;
	border-radius: 15px;
	font-family: "Palanquin";
	font-weight: 800;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.add-basket-button:hover {
	background-color: white;
	padding: 8px;
	border-radius: 15px;
	font-family: "Palanquin";
	font-weight: 800;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	box-shadow: 5px 10px 13px rgba(0, 0, 0, 0.15);
}

.d-none {
	display: none;
}

.basket-modal {
	border: none;
	background-color: #ffffff00;
	position: sticky;
	top: 0;
}

#basket {
	background-color: #363534;
	height: 800px;
	width: 430px;
	border-radius: 30px 0px 0px 30px;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#item-container {
	width: 100%;
	height: 500px;
	border: solid 1px red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	width: 95%;
	height: 150px;
	border: solid 1px rgb(0, 255, 68);
}

footer {
	padding-inline: calc((100% - 1440px) / 2);
	height: 80px;
	width: 100%;
	background-color: var(--orange);
	color: white;
	text-align: center;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 805px) {
	.food-card {
		width: 600px;
	}
	.food-listing {
		max-width: 200px;
		.food-title {
			line-height: 25px;
			margin-top: 7px;
			margin-bottom: 5px;
		}
		.food-description {
			line-height: 25px;
		}
	}
}

@media screen and (max-width: 708px) {
	.food-card {
		width: 500px;
	}
	.food-listing {
		max-width: 200px;
	}
}
